body, html {
  margin: 0;
  padding: 0;
}

.HomePage {
  width: 100%;
  height: 100%;
  //background-image: url("https://www.iplt20.com/assets/images//teams-new-landing-bg.jpg");
  background-image: url("https://github.com/sebastian-anandas/ipl-dashboard/blob/f17ec1761c5e16ab2da6488ff9716b009b80fade/src/frontend/public/images/landing.jpg");
  justify-content: center;
  align-items: center;
  background-size: cover; /* Ensures the background image covers the entire container */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  padding-bottom: 10px;
  background-color: red;

    .team-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 25px;
      margin-right: 10px;
    }

    .app-name {
      text-align: center;
      color: white;
      margin: 20px auto;
    }

    .header-section {
      display: flex;
      align-items: center;
    }

    .app-logo {
      padding: 20px 10px 20px 500px;
    }

    .app-name {
      margin: 0;
      color: white;
      font-size: 2.5rem;
      align-self: end;
      margin-bottom: 10px;
    }
}