body, html {
  margin: 0;
  padding: 0;
}

.HomePage {
  width: auto;
  height: auto;
  //background-image: url("https://www.iplt20.com/assets/images//teams-new-landing-bg.jpg");
  //background-image: url("/images/teams-new-landing-bg.jpg");
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  padding-top: 15px;

    .team-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding: 5px 50px 50px 50px;
    }

    .app-name {
      text-align: center;
      color: white;
      margin: 20px auto;
    }

    .header-section {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    .app-logo {
      padding: 10px 10px 10px 500px;
    }

    .app-name {
      margin: 0;
      color: white;
      font-size: 2.5rem;
      align-self: end;
      //margin-bottom: 10px;
    }
}