.MatchDetailCard {

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 15px;

  .match-details {
    margin-left: 10px;
  }

  .vs {
    font-weight: 500;
  }

  .match-date, .match-venue, .match-toss-decision {
    margin-top: 10px;
  }

  .additional-detail-section {
    text-align: right;
    & > p {
      margin-bottom: 20px;
    }
  }
  .match-result {
    margin-top: 10px;
    margin-bottom: 20px;
  }

}

